# *****************************************
# |docname| - Dependencies for this package
# *****************************************
Flask
Flask-Bootstrap
Flask-SQLAlchemy
Flask-Script
Flask-Migrate
Flask-User
psycopg2
bcrypt
CodeChat
Sphinx
sphinx_rtd_theme
